@model List<JacketHub.Entitties.Product>


<h2>ProductTable</h2>

<div>
    <form method="post">
        <input type="text" name="search" id="searchtxt" />
        <button type="button" id="searchbtn">Search</button>
    </form>
    <button type="button" id="newbtn">New</button>
</div>

<div id="tableContainer">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Discription</td>
                <td>Category</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Discription</td>
                    <td>-</td>
                    <td>
                        <button type="button" class="btnedit" data-id="@product.Id">Edit</button>
                        <button tpye="button" class="btnDelete" data-id="@product.Id">Delete</button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $("#searchbtn").click(function () {
        var searchValue = $("#searchtxt").val();
        debugger
        $.ajax({

            url: '/Products/ProductTable',
            data: {
                search: searchValue
            }
        })
            .done(function (responce) {
                $("#tableContainer").html(responce);
            })
            .fail(function (xhr) {
                alert(xhr.statusText);
            });



    });

    $("#newbtn").click(function () {
        $.ajax({

            url: '/Products/Create',
        })
            .done(function (responce) {
                $("#FormContainer").html(responce);
            })
            .fail(function (xhr) {
                alert(xhr.statusText);
            });

    });

    $(".btnedit").click(function () {
        
        $.ajax({

            url: '/Products/Edit',
            data:{
                ID: $(this).attr('data-id')
            }
        })
            .done(function (responce) {
                $("#FormContainer").html(responce);
                
            })
            .fail(function (xhr) {
                alert(xhr.statusText);
            });

    });

    $('.btnDelete').click(function () {
        var confirmDelete = confirm("Are you sure you want to delete this record")
        if (confirmDelete) {
            $.ajax({
                type: 'POST',
                url: '/Products/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }
            })
                .done(function (responce) {
                    $("#tableContainer").html(responce);

                })
                .fail(function (xhr) {
                    alert(xhr.statusText);
                });
        }

    });
</script>
